.mediaBoard {
    height: 95%;
    width: auto;
    border-radius: 15px;
    background-image: url(priscilla-du-preez-ggeZ9oyI-PE-unsplash.jpg);
    background-position: center;
    background-attachment: initial  ;
    background-size: cover;
    
}